body {

	background: #151924;
	color: white;
	font-family: sans-serif;
	margin: 0 auto;
	
}

a {text-decoration: none}
a:link {color:#e55e5f;}      /* unvisited link */
a:visited {color:#e55e5f;}  /* visited link */
a:hover {color:#e55e5f;}  /* mouse over link */
a:active {color:#e55e5f;}  /* selected link */

.clear {

    clear: both;

}

.container {

	float: center;
    margin: 0 auto;
    width: 85em;

}

.left {

	float: left;
    position: relative;
	width: 24em;
    padding-left: 1em;

}

.left p {

    width: 20em;

}


.middle {

	float: left;
    position: relative;
	width: 28em;

}

.right {

	float: left;
    position: relative;
    padding-left: 3em;
	width: 26em;

}

	
canvas {

	height: 28em;
	
}

.key {

    padding: 0.5em;
    margin: 0.1em;
    background: #FFFFCC;
    border-radius: 0.4em;
    width: 1.5em;
    text-align: center;
    font-family: sans-serif;
    font-size: 2em;
    display: inline-block;

}

.row {

    text-align: center;
    margin-left: -4em;     
    color: #151924;
 
}

.b_wrapper {

	margin: 0 auto;

}

.in {
    
    padding: 0.4em;
    margin: 0.5em;
    background: #FFFFCC;
    border-radius: 0.4em;
    border: 0.1em solid black;
    width: 3em;
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
    display: inline-block;    
    
}

#widget {

	text-align: right !important;
	
}

/*http://dominoc925.blogspot.com.au/2011/10/how-to-align-facebook-like-button-with.html*/

#sidebar #social {

    margin: 10px;

}    

#fb-like{

    width: 107px !important;

}

div .plusone, .twitter, .fb-like {

    font-size: 1px;
    display: inline-block;

}

div .fb_reset {

    display: inline;

} 

/* ------------------------------------------
 * CSS3 GITHUB BUTTONS (Nicolas Gallagher)
 * Licensed under Unlicense
 * http://github.com/necolas/css3-github-buttons
 * --------------------------------------- */


/* =============================================================================
   Base Button
   ========================================================================== */

.button {
    position: relative;
    overflow: visible;
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid #d4d4d4;
    margin: 0;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 #fff;
    font:11px/normal sans-serif;
    color: #333 !important;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -ms-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -moz-background-clip: padding; /* for Firefox 3.6 */
    background-clip: padding-box;
    border-radius: 0.2em;
    /* IE hacks */
    zoom: 1;
    *display: inline;
}

.button:hover,
.button:focus,
.button:active,
.button.active {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #fff !important;
    background-color: #3c8dde;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}

.button:active,
.button.active {
    border-color: #2a65a0;
    border-bottom-color: #3884cd;
    background-color: #3072b3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
    background-image: -moz-linear-gradient(#3072b3, #599bdc);
    background-image: -ms-linear-gradient(#3072b3, #599bdc);
    background-image: -o-linear-gradient(#3072b3, #599bdc);
    background-image: linear-gradient(#3072b3, #599bdc);
}

/* overrides extra padding on button elements in Firefox */
.button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/* =============================================================================
   Button groups
   ========================================================================== */

/* Standard group
   ========================================================================== */

.button-group {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    /* IE hacks */
    zoom: 1;
    *display: inline;
}

.button + .button,
.button + .button-group,
.button-group + .button,
.button-group + .button-group {
    margin-left: 15px;
}

.button-group li {
    float: left;
    padding: 0;
    margin: 0;
}

.button-group .button {
    float: left;
    margin-left: -1px;
}

.button-group > .button:not(:first-child):not(:last-child),
.button-group li:not(:first-child):not(:last-child) .button {
    border-radius: 0;
}

.button-group > .button:first-child,
.button-group li:first-child .button {
    margin-left: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button-group > .button:last-child,
.button-group li:last-child > .button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#notifications {

    width: 125% !important;

}

.fb_edge_widget_with_comment {

    width: 105px !important;
    
}

#disqus_thread {

    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    height: 5em;

}